*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}
::selection{
  color: #000;
  background: #fff;
}
nav{
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}


.img{
  background: url('im1.png');
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-position: top;
  
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 52px;
  font-weight: 600;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color: #fff;
  background: none;
}
.btns button:first-child:hover{
  background: white;
  color: black;
}
.center .btns button:last-child{
  background: white;
  color: black;
}




:root {
  --primary-color: #344a72;
  --secondary-color: rgb(7, 3, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #0a0000;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
}

#navbar ul {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  
}

#navbar ul li {
 
  color: rgb(240, 236, 236);
  display: inline-block;
  padding: 1rem;
  position: relative;
  
}

#navbar ul li a {
  color: rgb(245, 237, 237);
  text-decoration: none;
  display: inline-flex;
  
}

/* Hide Nested ul By Default */

#navbar ul li ul {
  display: none;
}

#navbar ul li:hover {
  
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
}

#navbar ul li:hover a {
  color: #fff;
}

/* Nested Dropdown Show */

#navbar ul li:hover ul {
  
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  margin-top: 1rem;
}

#navbar ul li:hover ul li {
  display: block;
  background: #e7e7e7;
}

#navbar ul li:hover ul li a {
  color: #333;
}

#navbar ul li:hover ul li:hover {
  background: #e0e0e0;
  color: inherit;
}

#navbar ul li:hover ul li span {
  
  float: right;
  color: #fff;
  background: var(--primary-color);
  padding: 0.2rem 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 5px;
}

#navbar ul li:hover ul li:hover span {
  background: var(--secondary-color);
}

#navbar ul li:first-child {
  background-color: var(--primary-color);
}

#navbar ul li:first-child a {
  color: #fff;
}


.custom-footer {
  text-align: center;
  font-size: 12px;
  }